<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ToDOList</title>
    <!--<script src="/js/jquery-3.4.0.min.js"></script>-->
   <!-- <script src="/js/main.js"></script>-->
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<h1>Список дел (<span th:text="${tasksCount}">0</span>)</h1>
<div id="task-list">
    <div th:each="task : ${tasks}">
        <a href="#" class="task-link" th:attr="data-id=${task.id}" th:text="${task.date}+'     '+${task.text}"></a>
    </div>
</div>
<p th:text="${someParameter}"></p>
</body>
</html>